@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,100);

#container {
    width: 100%;
    margin: 0 auto;
    
}
#container p{
    text-align: center;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #707070;
}

p {
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #707070;
}

.frontProfile {
    height: 200px;
    width: 100;
} 

.profiles li {
    float: left;
    list-style: none;
    display: block;
    margin-left: 10%;
    
}
.profiles ul {
    width: 93%;
    margin: auto;
    
}

.profiles{
    height: 250px;
    width: 100%;
    display: block;
    
}

#links li {
    float: left;
    list-style: none;
    display: block;
    margin-left: 2%;
    
}

#links ul {
    width: 93%;
    margin: auto;
}

#links {
    height: 50px;
    width: 100%;
    display: block;
}

#clock {
    height: 240px;

}


